<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Echo Sync Extension"
        android:allowBackup="false">

        <meta-data
            android:name="dev.brahmkshatriya.echo.extension.CLASS"
            android:value="com.yourorg.echosync.MyExtension" />

        <meta-data
            android:name="dev.brahmkshatriya.echo.extension.NAME"
            android:value="Echo Sync" />

        <meta-data
            android:name="dev.brahmkshatriya.echo.extension.AUTHOR"
            android:value="YourName" />

        <meta-data
            android:name="dev.brahmkshatriya.echo.extension.VERSION"
            android:value="1" />

        <meta-data
            android:name="dev.brahmkshatriya.echo.extension.DESCRIPTION"
            android:value="Local WiFi Sync Extension" />

    </application>

</manifest>