<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="EchoSyncExtension"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <meta-data
    android:name="extensionClass"
    android:value="com.example.MyExtension" />
    </application>

</manifest>