<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Echo Sync Extension"
        android:allowBackup="false">

        <meta-data
            android:name="extensionClass"
            android:value="com.yourorg.echosync.MyExtension" />

    </application>

</manifest>